<div class="container">
  <h2 class="text-center my-2">Lista de Productos con Handlebars</h2>
  <div class="col-md-6">
    <ul class="list-group">
      {{#each products}}
        <li class="list-group-item">
          <h3>{{title}}</h3>
          <p>Id: {{id}}</p>
          <p>Description{{description}}</p>
          <p>Precio: {{price}}</p>
          <p>Codigo: {{code}}</p>
          <p>Stock: {{stock}}</p>
          <p>Categoría: {{category}}</p>
          <p>Thumbnail: {{thumbnail}}</p>
        </li>
      {{/each}}
    </ul>
  </div>  
</div>