<h1>Perfil</h1>
Nombre:
{{user.firstName}}
<br />
Apellido:
{{user.lastName}}
<br />
Email:
{{user.email}}
<br />
Edad:
{{user.age}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
Rol:
{{user.role}}
<br />
{{!-- Carrito:
{{user.idCart}}
<br /> --}}

<a href='/auth/administracion'>Solo Adminis<a></a>

<br />
<a href='/api/sessions/current'>Ver Sesión<a></a>
<br />
<a href='/auth/logout'>Salir!</a>