{{!-- <div class="container cardsBorder " >
  <h2 class="text-center my-2">Lista de Productos con Handlebars</h2>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow" style="width: 18rem;" >
      {{#each products}}
        <div class="card-header">  
          <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-body">  
          <p class="card-text">Id: {{id}}</p>
          <p class="card-text">Description{{description}}</p>
          <p class="card-text">Precio: {{price}}</p>
          <p class="card-text">Codigo: {{code}}</p>
          <p class="card-text">Stock: {{stock}}</p>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Thumbnail: {{thumbnail}}</p>        
        </div>
      {{/each}}
    </div>
  </div>  
</div> --}}

{{!-- <div class="container login">
    <div class="card col-12 cardsBorder">
  <div class="card-deck text-center">
    <div class="card cardsBorder-dashboard " style="width: 18rem;" >
      {{#each products}}
        <div class="card-header">  
          <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-body">  
          <p class="card-text">Id: {{id}}</p>
          <p class="card-text">Description{{description}}</p>
          <p class="card-text">Precio: {{price}}</p>
          <p class="card-text">Codigo: {{code}}</p>
          <p class="card-text">Stock: {{stock}}</p>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Thumbnail: {{thumbnail}}</p>        
        </div>
      {{/each}}
    </div>
  </div> 
    </div>
</div>   --}}
<div class="">
  <div class="container ">
    <div class="card col-6 cardsBorder">
      <div class="card-header card-header-dashboard card-header-dashboard-style">
        <h3 class="">Listado de productos</h3>
      </div>
      <div class="card-body card-body-style">
        <div class="cardsBorder">
          {{#each products}}
            <div class="card-header card-header-dashboard card-header-dashboard-style ">  
              <h3 class="card-title">{{title}}</h3>
            </div>
            <div class="card-body">  
              <p class="card-text">Id: {{_id}}</p>
              <p class="card-text">Description{{description}}</p>
              <p class="card-text">Precio: {{price}}</p>
              <p class="card-text">Codigo: {{code}}</p>
              <p class="card-text">Stock: {{stock}}</p>
              <p class="card-text">Categoría: {{category}}</p>
              <p class="card-text">Thumbnail: {{thumbnail}}</p>        
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>  
</div>


{{!-- <div class="container " >
  <h2 class="text-center my-2">Lista de Productos con Handlebars</h2>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow" style="width: 18rem;" >
      {{#each products}}
        <div class="card-header">  
          <h3 class="card-title">{{title}}</h3>
        </div>
        <div class="card-body">  
          <p class="card-text">Id: {{id}}</p>
          <p class="card-text">Description{{description}}</p>
          <p class="card-text">Precio: {{price}}</p>
          <p class="card-text">Codigo: {{code}}</p>
          <p class="card-text">Stock: {{stock}}</p>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Thumbnail: {{thumbnail}}</p>        
        </div>
      {{/each}}
    </div>
  </div>  
</div> --}}